<h3></h3>
<!-- <tr>
  <div>
       <input type="checkbox" id="scales" name="json1"
              value="scales" checked />
       <label for="scales">Scales</label>
   </div>

   <div>
       <input type="checkbox" id="horns" name="check1"
              value="horns" />
       <label for="check1">Horns</label>
   </div>

   <div>
       <input type="checkbox" id="claws" name="check2"
              value="claws" />
       <label for="check2">Claws</label>
   </div>
   <div>
       <input type="checkbox" id="claws" name="check3"
              value="claws" />
       <label for="check3">Claws</label>
   </div>
   <div>
       <input type="checkbox" id="claws" name="check4"
              value="claws" />
       <label for="check4">Claws</label>
   </div>
   <div>
       <input type="checkbox" id="claws" name="check5"
              value="claws" />
       <label for="check5">Sample5</label>
   </div>
</tr> -->
<!-- <table>
  <tr>
    <td>
      <input type="text" id="window-size" ng-model="windowSize" />
    </td>
  </tr>
  <tr>
  <td>
    <input type="button" id="update-window" value="Update Window Size" ng-click="runTree()" />
  </td>
  </tr>
  </table> -->
<table>
  <tr>
    <td>
      Pvalue Threshold
    </td>
    <td>
      <input type="text" id="pvalue-threshold" ng-model="pvalueThreshold" />
    </td>
    <td>
      <input type="checkbox" ng-model="fdrFilter" value="false" ng-change="updateFilters()">
      &nbsp;False Discovery Rate
    </td>
  </tr>
  <tr>
    <td>
      Reads Threshold
    </td>
    <td>
      <input type="text" id="reads-threshold" ng-model="readsThreshold" />
    </td>
  </tr>
  <tr>
    <td>
      Ratio Threshold
    </td>
    <td>
      <input type="text" id="ratio-threshold" ng-model="ratioThreshold" />
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" id="update-filters" value="Update Filters" ng-click="runTree()" />
    </td>
  </tr>
</table>
<form>
  <label>
    <input type="radio" ng-model="taxFilter" value="genus" ng-change="updateFilters()">
    Genus
  </label><br/>
  <label>
    <input type="radio" ng-model="taxFilter" value="species" ng-change="updateFilters()">
    Species
  </label><br/>
  <label>
    <input type="radio" ng-model="taxFilter" value="nofilter" ng-change="updateFilters()">
    None
  </label><br/>
 </form>
 <!-- <br>
   <label> Difference between two samples: </label> -->
 <!-- </br>
 <tr>
   <select name="select1">
    <option value="sample1">Sample 1</option>
    <option value="sample2">Sample 2</option>
    <option value="sample3">Sample 3</option>
    <option value="sample4">Sample 4</option>
    <option value="sample5">Sample 5</option>
  </select>
  <select name="select2">
   <option value="sample1">Sample 1</option>
   <option value="sample2">Sample 2</option>
   <option value="sample3">Sample 3</option>
   <option value="sample4">Sample 4</option>
   <option value="sample5">Sample 5</option>
 </select>
</br>
  <input type="button" id="toggle-compare" ng-click=""> -->
 </tr>
 <svg>
 </svg>
