$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 10px;
  padding-right: 0px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
  padding-left: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    padding: 14px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 18px;
    vertical-align: top;
  }
}

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.link{
	fill: none;
}

.node{
	cursor: pointer;
}

.canvas{
	cursor: all-scroll;
}

.tool-tip{
	margin-top: 20px;
}

.slidecontainer {
    padding-left: 10px;
    width: 80%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #d0f0c0;
    outline: none;
}
.table {
  table-layout: auto;
  width:100%;
  height: 30px;
}

.inputtext {
  width: 40px;
}

.topbar {
  width:100%;
  height: 22vh;
  background: #ffffff;
  border-bottom: 2px solid #e5e5e5;
}

.content {
  padding: 33vh;
}

.sticky {
  height:10.5vh;
  padding-top: 5px;
  width:100%;
  background: #ffffff;
  border-bottom: 2px solid #e5e5e5;
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 33vh;
}

.floatedTable {
    float:left;
}

.floatedTable2{
  float:right;
}

.label{
  background-color:white;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-family:Sans-serif;
  font-weight: normal;
}
